# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Environnement
.env
.env.local
.env.*.local

# Système
.DS_Store
Thumbs.db

# Private folder
/private/ 